<!DOCTYPE html>
<html>
  <head>
    <title>Proscenium Test App</title>
    <%= include_stylesheets if Rails.env.development? %>
  </head>
  <body>
    <%= yield %>
    <%= include_javascripts type: 'module', defer: true if Rails.env.development? %>
  </body>
</html>
