# Ignore the default SQLite database.
/fixtures/dummy/db/*.sqlite3
/fixtures/dummy/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/fixtures/dummy/log/*
/fixtures/dummy/tmp/*
!/fixtures/dummy/log/.keep
!/fixtures/dummy/tmp/.keep

# Ignore pidfiles, but keep the directory.
/fixtures/dummy/tmp/pids/*
!/fixtures/dummy/tmp/pids/
!/fixtures/dummy/tmp/pids/.keep

# Ignore uploaded files in development.
/fixtures/dummy/storage/*
!/fixtures/dummy/storage/.keep
/fixtures/dummy/public/assets
/fixtures/dummy/public/proscenium_compiled_assets

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
meta.json
*.h
*.so
/lib/proscenium/ext/*

/go.work
/go.work.sum
