<!DOCTYPE html>
<html>
  <head>
    <title>Proscenium Playground</title>
    <%= side_load_stylesheets %>
  </head>
  <body>
    <div id="layout"></div>
    <%= yield %>
    <%= side_load_javascripts type: 'module', defer: true %>
  </body>
</html>
