*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p code {
  background-color: aliceblue;
  padding: 4px;
  border-radius: 6px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  padding: 14px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 10px;
}

header {
  display: flex;
  font-size: 0.9em;
  align-items: flex-end;
  background-color: blanchedalmond;
  border-bottom: 1px solid lightgray;
  padding: 10px 17px;
  margin-bottom: 40px;

  > .logo {
    margin-right: 65px;
  }
}

main {
  flex: 1;

  > *:first-child {
    margin-top: 0;
  }
}

.highlight {
  padding: 22px;
}

.columned {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.page_nav {
  position: sticky;
  top: 0;
  width: 300px;
  border-left: 1px solid lightgray;
  padding: 20px 0 20px 30px;
  margin-left: 60px;
  font-size: 0.9em;

  > div {
    margin: 0 10px 15px;
  }

  > ul {
    padding-inline-start: 10px;

    ul {
      padding-inline-start: 15px;
    }
  }
}
