:root {
  --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  font-size: calc(1rem + 0.25vw);
}

html {
  font-family: var(--font-sans);
}

header {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 14px 10px 10px;
}
