<!DOCTYPE html>
<html>
  <head>
    <title>Proscenium Test App</title>
    <%= stylesheet_link_tag(*Proscenium::Current.loaded[:css]) %>
    <%= javascript_include_tag(*Proscenium::Current.loaded[:js], defer: true, type: :module) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
