<!DOCTYPE html>
<html>
  <head>
    <title>Proscenium Test App</title>
    <%= side_load_stylesheets %>
  </head>
  <body>
    <%= yield %>
    <%= side_load_javascripts type: 'module' %>
  </body>
</html>
